@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", serif;
    background-color: hsl(47, 88%, 63%);
}

.container {
    background-color: white;
    min-width: 275px;
    max-width: 300px;
    padding: 15px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
    border-radius: 13px;
    box-shadow: 5.5px 5.5px black;
}

.cover {
    margin: 0 auto;
}

.cover img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.text {
    margin-top: 15px;
    line-height: 1.5;
}

.category {
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: 0.2em 0.8em;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

h1 {
    font-size: 1.1rem;
}

.summary {
    font-size: 0.8rem;
    min-width: 252px;
    color: hsl(0, 0%, 42%);

}

.profile-picture {
    display: flex;
    align-items: center;
}

.profile-picture img {
    width: 20px;
    height: auto;
}

.profile-picture figcaption {
    margin-left: 7px;
}

.text div,
.text p {
    margin-top: 10px;
}

.text h1,
.profile-picture {
    margin-top: 13px;
}

.category p {
    margin-top: 0;
}

.summary,
.date {
    font-weight: 500;
}

h1,
.category,
.profile-picture,
figcaption .date {
    font-weight: 800;
}

.date,
.profile-picture figcaption,
.category p,
footer {
    font-size: 0.7rem;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover,
a:focus {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 0 10px 5px;
    color: hsl(0, 0%, 42%);
}

footer a,
footer a:visited {
    color: hsl(0, 0%, 42%);
}

footer a:hover,
footer a:focus {
    color: hsl(0, 0%, 22%);
}